BPMTaskForm/src/xsd/ReviewObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="HelloTypes.ReviewObject" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/HelloTypes/ReviewObject" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/HelloTypes/ReviewObject"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ReviewObjectType">
        <xs:sequence>
            <xs:element name="review" nillable="true" type="xs:string"/>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReviewObject" type="ReviewObjectType"/>
</xs:schema>
